<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>About</title>
    </head>
    <body>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        -->

        
        <!-- <img src="images/Heading Image crop.jpg" alt="Heading Image"> -->

        

        <!-- About-home -->
        <div id="servhead">
            <h1>About Us</h1>
        </div>
        


        <!-- Our Competancy section  -->
        <div class="div1">
            <img class="img1" src="../../assets/images/about2.jpg" alt="about1">
            <p class="p1">
                <b class="heading1"><span>Our</span> Competancy</b> <br><br>
                Quantum Cargo Logistics and Traders Private Limited company is a leading logistics company headquartered in Pune-India. Over the years, Quantum Cargo Logistics has pioneered itself as one of the most trusted and reliable end-to-end logistics solutions provider across India and globally. <br>
                We provide solutions to more than 125 countries with more than 27+ branch offices across India. Today, Quantum Cargo Logistics offers logistics solutions and seamless connectivity to customers across diverse industry verticals like Fast Moving Consumer Goods (FMCG), Steel, Plastic, Automobile & Auto-components, Projects, Consumer Durable, Pharma, Healthcare, Electrical, Electronics, Textiles, Apparel & Lifestyle, etc. <br>
                The experienced and dynamic management team at Quantum Cargo Logistics contributes greatly with new thinking by adopting new technologies, applying latest and modern methods in the field of transportation to help the needs of customers. Quantum Cargo Logistics constantly strives to develop better, more efficient ways to do business, whether it is by implementing cutting-edge technology, increasing the number of services or expanding our network of branches and warehouses. This dynamic mindset is reflected in our motto “Quantum Cargo” and demonstrates a tradition of innovation which is intrinsic to every part of Quantum Cargo Logistics.
            </p>
        </div>



        <!-- Mission Vision Values Section -->
        <div class="div5">
            <div class="card" style="width: 22rem; text-align: center;">
                <div class="card_icon">
                    <img src="../../assets/images/mission.png" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mission</h5>
                    <p class="card-text">To provide cost-effective, efficient and value-added services to our esteemed clients and to establish creative impact on their supply chain management.</p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div class="card_icon">
                    <img src="../../assets/images/target.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Vision</h5>
                  <p class="card-text">Quantum cargo Logistics aims to be a single window customer oriented, multitechnology, multispecialist End-to End Logistics soltions provider in the Indian and Global markets.</p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div class="card_icon">
                    <img src="../../assets/images/value.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Values</h5>
                  <p class="card-text">Quantum cargo Logistics believes that a brand is a living entity and it should be reflected in its behavior. Our behavior is governed by a set of values conveyed through the acronym 'CORE'.</p>
                </div>
            </div>
        </div>

        <div class="div6">
            <div class="card" style="width: 22rem;">
                <div class="card_icon">
                    <img src="../../assets/images/laptop.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Safe & Secure</h5>
                  <p class="card-text">We always carry out risk assessments on all our tasks and operations, which tell us where the significant risk elements of our operations are and which ones should be addressed to be safe and secure always.</p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div class="card_icon">
                    <img src="../../assets/images/insurance.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Technology</h5>
                  <p class="card-text">We believe in continuous innovation in technology and to achieve this we work continuously with the latest technologies. Quantum Cargo Logistics believes that information technology will lead and revolutionize the logistics business in the coming future.</p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div class="card_icon">
                    <img src="../../assets/images/target.png" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">24/7 Support</h5>
                  <p class="card-text">We provide prompt, economical and efficient support to our customers with our 24 by 7 shipment visibility with the help of unique LR Tracker Application. With the help of Centralized Transport Desk Application, Quantum Cargo Logistics provides 24 by 7 order-processing.</p>
                </div>
            </div>
        </div>

        
        

        <!-- Oue Team section  -->
        <section id="teacher-sec">
            <h2 class="teacher-sec-title"><span>Our</span> Team</h2>
            <h3>Face Behind Quantum Cargo Logistics</h3>
            <div class="teacher-sec-content">
                <div class="teacher-sec-box">
                    <div class="teacher-sec-detail">
                    <div class="teacher-sec-photo">
                        <img src="../../assets/images/saurabh profile.png" alt="">
                        <p class="teacher-sec-name">Saurabh Shinde
                        </p>
                    </div>
                    </div>
                    <p class="teacher-sec-text">Chairman</p>
                </div>
                <div class="teacher-sec-box">
                    <div class="teacher-sec-detail">
                    <div class="teacher-sec-photo">
                        <img src="../../assets/images/pratik.png" alt="">
                        <p class="teacher-sec-name">Pratik Phadtare
                        </p>
                    </div>
                    </div>
                    <p class="teacher-sec-text">Managing Director</p>
                </div>
                <div class="teacher-sec-box">
                    <div class="teacher-sec-detail">
                    <div class="teacher-sec-photo">
                        <img src="../../assets/images/aniket_profile.png" alt="">
                        <p class="teacher-sec-name">Aniket Gawai
                        </p>
                    </div>
                    </div>
                    <p class="teacher-sec-text">Director</p>
                </div>
                <div class="teacher-sec-box">
                    <div class="teacher-sec-detail">
                    <div class="teacher-sec-photo">
                        <img src="../../assets/images/tilakchand.png" alt="">
                        <p class="teacher-sec-name">Tilakchand Dhake
                        </p>
                    </div>
                    </div>
                    <p class="teacher-sec-text">CEO</p>
                </div>
                <div class="teacher-sec-box">
                    <div class="teacher-sec-detail">
                    <div class="teacher-sec-photo">
                        <img src="../../assets/images/sanket.png" alt="">
                        <p class="teacher-sec-name">Sanket Kautkar
                        </p>
                    </div>
                    </div>
                    <p class="teacher-sec-text">President-Department</p>
                </div>
            </div>
        </section>

        

        <!-- Marquee section -->
        <div id="marquee">
            <h1>Our Client</h1>
            <marquee behavior="" direction="left">
                <img src="../../assets/images/infiniti-client.jpg" alt="">
                <img src="../../assets/images/ariston-client.jpg" alt="">
                <img src="../../assets/images/armacel-client.jpg" alt="">
                <img src="../../assets/images/bericap-client.jpg" alt="">
                <img src="../../assets/images/finolex-client.jpg" alt="">
                <img src="../../assets/images/fleetguard-client.jpg" alt="">
                <img src="../../assets/images/godrej-client.jpg" alt="">
                <img src="../../assets/images/hier-client.jpg" alt="">
                <img src="../../assets/images/posco-client.jpg" alt="">
                <img src="../../assets/images/racold-client.jpg" alt="">
                <img src="../../assets/images/raychem-client.jpg" alt="">
                <img src="../../assets/images/samsung-client.jpg" alt="">
                <img src="../../assets/images/vip-client.jpg" alt="">
                <img src="../../assets/images/whirlpool-client.jpg" alt="">
            </marquee>
        </div>


        <!-- footer -->
        <div class="container-fluid" id="servheadf">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
                <div class="d-flex footer_text" >
                    <p class="mt-3">Copyright © 2024 <span style="color: #FD5B17;">Quantum Cargo</span></p>
                </div>
        
                <ul class="list-unstyled d-flex justify-content-end align-items-center footer_icon" >
                    <li class="ms-3"><a href="#"><img src="../../assets/images/twitter.png" width="24"></a>
                    </li>
                    <li class="ms-3"><a href="#"><img src="../../assets/images/instagram.png" width="24"></a>
                    </li>
                    <li class="ms-3"><a  href="#"><img src="../../assets/images/facebook.png" width="24"></a>
                    </li>
                </ul>
            </footer>
        </div>

    
    </body>
</html>
