<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title> Transport </title> 
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

   </head>
<body>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="admin.js"></script>

  <div class="nav_bar">
    <ul class="nav-links">
        <li class="center"><a onclick="toggleContent('transport') " >Transport</a></li>

        <li class="center"><a onclick="toggleContent('warehouse')">Warehouse</a></li>
        <li class="center" style="color: white;"><a href="#" onclick="opentab('div1')">Log Out</a></li>
      </ul>
  </div>

<div id="transportContent" class="content" style="display: block;">
    <div class="div1">
        <div class="nav_bar1">
          <ul class="nav-links">
              <li class="center"><a onclick="opentab('div1')">By Road</a></li>
              <li class="center"><a onclick="opentab('div2')">By Air</a></li>
              <li class="center"><a onclick="opentab('div3')"> By Ocean</a></li>
            </ul>
        </div>
      </div>
    
      <div class="main">
        <div class="func-1 tab-content active-tab" id="div1">
          
          <div class="div5">
            
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/ashok-leyland-2820-19455.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">32 Feet Multi Axle Container Truck</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Length</td>
                      <td>32 ft</td>
                    </tr>
                    <tr>
                      <td>Height</td>
                      <td>8-11</td>
                    </tr>
                    <tr>
                      <td>Width</td>
                      <td>8-9</td>
                    </tr>
                    <tr>
                      <td >Volume</td>
                      <td>2592 ft3</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>15-18 ton</td>
                    </tr>
                    <tr>
                      <td>Wheels</td>
                      <td>10</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/tata-1512-lpt-05.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">32 Feet Single Axle Container Truck</h5>
                <p class="card-text"><table>
                  <tr>
                    <td>Length</td>
                    <td>32 ft</td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>8-11</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>8-9</td>
                  </tr>
                  <tr>
                    <td >Volume</td>
                    <td>2592 ft3</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>7-10 ton</td>
                  </tr>
                  <tr>
                    <td>Wheels</td>
                    <td>6</td>
                  </tr>
                </table><p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/tata-truck-1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">40 Feet Open Trailer Container Truck </h5>
                <p class="card-text"><table>
                  <tr>
                    <td>Length</td>
                    <td>40 ft</td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>8-11</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>8-9</td>
                  </tr>
                  <tr>
                    <td >Volume</td>
                    <td>4000 ft3</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>25-32 ton</td>
                  </tr>
                  <tr>
                    <td>Wheels</td>
                    <td>10</td>
                  </tr>
                </table><p>
              </div>
            </div>
          </div>
    
    
    
          <div class="div5">
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/tata-1512-lpt-84331.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">20 Feet Container Truck</h5>
                <p class="card-text"><table>
                  <tr>
                    <td>Length</td>
                    <td>20 ft</td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>8-8.2</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>7.5-8.5</td>
                  </tr>
                  <tr>
                    <td >Volume</td>
                    <td>9000 ft3</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>Up to 6 ton</td>
                  </tr>
                  <tr>
                    <td>Wheels</td>
                    <td>6</td>
                  </tr>
                </table><p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/bharat-benz-1917r.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">22 Feet Container Truck</h5>
                <p class="card-text"><table>
                  <tr>
                    <td>Length</td>
                    <td>22 ft</td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>8-8.2</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>7.5-8.5</td>
                  </tr>
                  <tr>
                    <td >Volume</td>
                    <td>1400 ft3</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>Up to 8 ton</td>
                  </tr>
                  <tr>
                    <td>Wheels</td>
                    <td>6</td>
                  </tr>
                </table><p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/download.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">24 Feet Container Truck</h5>
                <p class="card-text"><table>
                  <tr>
                    <td>Length</td>
                    <td>24 ft</td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>8-8.2</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>7.5-8.5</td>
                  </tr>
                  <tr>
                    <td >Volume</td>
                    <td>1600 ft3</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>Upto 8-10 ton</td>
                  </tr>
                  <tr>
                    <td>Wheels</td>
                    <td>6 or 10</td>
                  </tr>
                </table><p>
              </div>
            </div>
          </div> 
        </div>
        
    
        <div class="func-1 tab-content" id="div2">
          
          <div class="div5">
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/antonov-an-225.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Antonov An-225 Mriya</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Maximum Takeoff Weight</td>
                      <td>640000 kg</td>
                    </tr>
                    <tr>
                      <td>Payload</td>
                      <td>250000 kg</td>
                    </tr>
                    <tr>
                      <td>Cargo Hold</td>
                      <td>1300 m3</td>
                    </tr>
                    <tr>
                      <td>Overall Length</td>
                      <td>84 m</td>
                    </tr>
                    <tr>
                      <td>Wingspan</td>
                      <td>88.4 m</td>
                    </tr>
                    <tr>
                      <td>Range</td>
                      <td>15400 km</td>
                    </tr>
                    <tr>
                      <td>Cruise Speed</td>
                      <td>0.65 Mach</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/747-400erf.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Boeing 747-400ERF</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Maximum Takeoff Weight</td>
                      <td>412769 kg</td>
                    </tr>
                    <tr>
                      <td>Payload</td>
                      <td>124012 kg</td>
                    </tr>
                    <tr>
                      <td>Cargo Hold</td>
                      <td>779 m3</td>
                    </tr>
                    <tr>
                      <td>Overall Length</td>
                      <td>70.66 m</td>
                    </tr>
                    <tr>
                      <td>Wingspan</td>
                      <td>64.44 m</td>
                    </tr>
                    <tr>
                      <td>Range</td>
                      <td>9230  km</td>
                    </tr>
                    <tr>
                      <td>Cruise Speed</td>
                      <td>0.85 Mach</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/lockheed-c5-galaxy.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lockheed C-5 Galaxy</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Maximum Takeoff Weight</td>
                      <td>417305 kg </td>
                    </tr>
                    <tr>
                      <td>Payload</td>
                      <td>127459 kg</td>
                    </tr>
                    <tr>
                      <td>Cargo Hold</td>
                      <td>880 m3</td>
                    </tr>
                    <tr>
                      <td>Overall Length</td>
                      <td>75.31 m</td>
                    </tr>
                    <tr>
                      <td>Wingspan</td>
                      <td>67.89 m</td>
                    </tr>
                    <tr>
                      <td>Range</td>
                      <td>11705 km</td>
                    </tr>
                    <tr>
                      <td>Cruise Speed</td>
                      <td>0.7 Mach</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
          </div>
    
          <div class="div5">
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/boeing-c-17.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Boeing C-17 Globemaster III</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Maximum Takeoff Weight</td>
                      <td>265352 kg </td>
                    </tr>
                    <tr>
                      <td>Payload</td>
                      <td>77519 kg</td>
                    </tr>
                    <tr>
                      <td>Cargo Hold</td>
                      <td>583 m3</td>
                    </tr>
                    <tr>
                      <td>Overall Length</td>
                      <td>53.04 m</td>
                    </tr>
                    <tr>
                      <td>Wingspan</td>
                      <td>51.75 m</td>
                    </tr>
                    <tr>
                      <td>Range</td>
                      <td>4444 km</td>
                    </tr>
                    <tr>
                      <td>Cruise Speed</td>
                      <td>0.74 Mach</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/boeing-dreamlifter.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Boeing Dreamlifter</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Maximum Takeoff Weight</td>
                      <td>364235 kg </td>
                    </tr>
                    <tr>
                      <td>Payload</td>
                      <td>113400 kg</td>
                    </tr>
                    <tr>
                      <td>Cargo Hold</td>
                      <td>1840 m3</td>
                    </tr>
                    <tr>
                      <td>Overall Length</td>
                      <td>71.68 m</td>
                    </tr>
                    <tr>
                      <td>Wingspan</td>
                      <td>64.4 m</td>
                    </tr>
                    <tr>
                      <td>Range</td>
                      <td>7800 km</td>
                    </tr>
                    <tr>
                      <td>Cruise Speed</td>
                      <td>0.82 Mach</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/antonov-an-124.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Antonov An-124 Ruslan</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Maximum Takeoff Weight</td>
                      <td>402000 kg </td>
                    </tr>
                    <tr>
                      <td>Payload</td>
                      <td>150000 kg</td>
                    </tr>
                    <tr>
                      <td>Cargo Hold</td>
                      <td>1091 m3</td>
                    </tr>
                    <tr>
                      <td>Overall Length</td>
                      <td>69.1 m</td>
                    </tr>
                    <tr>
                      <td>Wingspan</td>
                      <td>73.3 m</td>
                    </tr>
                    <tr>
                      <td>Range</td>
                      <td>1500 km</td>
                    </tr>
                    <tr>
                      <td>Cruise Speed</td>
                      <td>0.7 Mach</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
          </div>
        </div>
    
    
        <div class="func-1 tab-content" id="div3">
          <div class="div5">
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Mumbai_Maersk.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mumbai Maersk</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Class and type</td>
                      <td>2nd-gen. Maersk Triple E-class container ship</td>
                    </tr>
                    <tr>
                      <td>Tonnage</td>
                      <td>214286 GT</td>
                    </tr>
                    <tr>
                      <td>Length</td>
                      <td>399 m</td>
                    </tr>
                    <tr>
                      <td >Beam</td>
                      <td>58 m</td>
                    </tr>
                    <tr>
                      <td>Draught</td>
                      <td>16.5 m</td>
                    </tr>
                    <tr>
                      <td>Depth</td>
                      <td>33.20 m</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>20568 TEU</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/MSC_GÜLSÜN.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MSC Gülsün</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Class and type</td>
                      <td>Gülsün-class container ship</td>
                    </tr>
                    <tr>
                      <td>Tonnage</td>
                      <td>232618 GT</td>
                    </tr>
                    <tr>
                      <td>Length</td>
                      <td>399.9 m</td>
                    </tr>
                    <tr>
                      <td >Beam</td>
                      <td>61.5 m</td>
                    </tr>
                    <tr>
                      <td>Draught</td>
                      <td>16.5 m</td>
                    </tr>
                    <tr>
                      <td>Depth</td>
                      <td>33.20 m</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>	23756 TEU</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
    
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/HMM_Algeciras.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">HMM Algeciras</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Class and type</td>
                      <td>HMM Algeciras-class container ship</td>
                    </tr>
                    <tr>
                      <td>Tonnage</td>
                      <td>228283 GT</td>
                    </tr>
                    <tr>
                      <td>Length</td>
                      <td>399.9 m</td>
                    </tr>
                    <tr>
                      <td>Beam</td>
                      <td>61 m</td>
                    </tr>
                    <tr>
                      <td>Draught</td>
                      <td>16.525 m</td>
                    </tr>
                    <tr>
                      <td>Depth</td>
                      <td>33.20 m</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>23964 TEU</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
          </div>
    
          <div class="div5">
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/OOCL_HONG_KONG.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">OOCL Hong Kong</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Class and type</td>
                      <td>G-class container ship</td>
                    </tr>
                    <tr>
                      <td>Tonnage</td>
                      <td>210890  GT</td>
                    </tr>
                    <tr>
                      <td>Length</td>
                      <td>399.87 m</td>
                    </tr>
                    <tr>
                      <td>Beam</td>
                      <td>58.80 m</td>
                    </tr>
                    <tr>
                      <td>Draught</td>
                      <td>16.00 m</td>
                    </tr>
                    <tr>
                      <td>Depth</td>
                      <td>32.50 m</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>21413 TEU</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
      
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/CMA_CGM_JACQUES_SAADE.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CMA CGM Jacques Saadé</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Class and type</td>
                      <td>Jacques Saadé-class container ship</td>
                    </tr>
                    <tr>
                      <td>Tonnage</td>
                      <td>226435 GT</td>
                    </tr>
                    <tr>
                      <td>Length</td>
                      <td>399.9 m</td>
                    </tr>
                    <tr>
                      <td >Beam</td>
                      <td>61.3 m</td>
                    </tr>
                    <tr>
                      <td>Draught</td>
                      <td>16 m</td>
                    </tr>
                    <tr>
                      <td>Depth</td>
                      <td>33.20 m</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>23112 TEU</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
            
            <div class="card" style="width: 22rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/CMA_CGM_Antoine_de_Saint.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CMA CGM Antoine de Saint</h5>
                <p class="card-text">
                  <table>
                    <tr>
                      <td>Class and type</td>
                      <td>Antoine de Saint Exupery-class</td>
                    </tr>
                    <tr>
                      <td>Tonnage</td>
                      <td>217673 GT</td>
                    </tr>
                    <tr>
                      <td>Length</td>
                      <td>400 m</td>
                    </tr>
                    <tr>
                      <td>Beam</td>
                      <td>59 m</td>
                    </tr>
                    <tr>
                      <td>Draught</td>
                      <td>16 m</td>
                    </tr>
                    <tr>
                      <td>Depth</td>
                      <td>33 m</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>20954 TEU</td>
                    </tr>
                  </table>
                <p>
              </div>
            </div>
          </div>
    
        </div>
    
      </div>
</div>

<div id="warehouseContent" class="content">
    <div>
        <!-- Dropdown -->
        <li class="hov">Choose a Location
          <ul class="main2">
            <li onclick="opentab('Pune')">Pune</li>
            <li onclick="opentab('Mumbai')">Mumbai</li>
            <li onclick="opentab('Dehli')">Dehli</li>
            <li onclick="opentab('Bengaluru')">Bengaluru</li>
            <li onclick="opentab('Chennai')">Chennai</li>
            <li onclick="opentab('Hyderabad')">Hyderabad</li>
          </ul>
        </li>
      </div>
      <div class="main1">
        <div class="tab-content active-tab" id="Pune">
          <div class="div5">
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Pune1_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Maharaja Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Wagholi</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>15,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>13,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>8,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Pune2-warehouse.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Janta Raja Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Chakan</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>28,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>24,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>13,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Pune3-warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Pioneer Warehouse</h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Narayanpur</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>22,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>18,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>10,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="func-1 tab-content" id="Mumbai">
          <div class="div5">
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/mumbai1_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Viraj Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Andheri</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>18,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>15,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>8,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/mumbai2_warehouse.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chaitanya Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Borivali</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>25,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>23,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>10,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/mumbai3_warehouse.jpg" class="card-img-top" height="193rem">
              <div class="card-body">
                <h5 class="card-title">Yashraj Warehouse</h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Kurla</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>28,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>24,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>15,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="func-1 tab-content" id="Dehli">
          <div class="div5">
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Dehli1-warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Ghanshyam Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Mundka</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>40,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>35,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>21,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Dehli2-warehouse.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">RK Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Asola</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>30,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>26,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>13,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Dehli3-warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Storebox Warehouse</h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Kanjhawala</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>21,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>17,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>8,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="func-1 tab-content" id="Bengaluru">
          <div class="div5">
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/bengaluru1_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Balaji Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Indira Nagar</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>20,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>16,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>6,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Bengaluru2_warehouse.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Palms Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Hebbal</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>32,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>27,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>11,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Bengaluru3_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Arora Warehouse</h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Bidrahalli</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>32,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>28,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>16,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="func-1 tab-content" id="Chennai">
          <div class="div5">
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Channai1_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Central Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Perambur</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>30,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>25,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>10,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Channai2_warehouse.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ideal Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Egmore</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>36,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>32,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>20,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/Channai3_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Chennai Warehouse</h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Tondiarpet</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>27,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>22,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>13,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="func-1 tab-content" id="Hyderabad">
          <div class="div5">
            <div class="card" style="width: 18rem;border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/hyadrabad1_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Snowman Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Karwan</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>30,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>24,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>10,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/hyadrabad2_warehouse.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">WareIQ Warehouse </h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Nampally</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>36,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>32,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>20,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
            <div class="card" style="width: 18rem; border: none; border-bottom: 4px solid #fd5b17;">
              <img src="../../assets/images/hyadrabad3_warehouse.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">ACC Warehouse</h5>
                <p class="card-text">
                <table>
                  <tr>
                    <td>Location:</td>
                    <td>Amberpet</td>
                  </tr>
                  <tr>
                    <td>Area:</td>
                    <td>35,000 Sq ft</td>
                  </tr>
                  <tr>
                    <td>Capacity :</td>
                    <td>30,000 tons</td>
                  </tr>
                  <tr>
                    <td>Availability :</td>
                    <td>18,000 tons</td>
                  </tr>
                  <tr>
                    <td>storage-type :</td>
                    <td>Normal, Cold</td>
                  </tr>
                </table>
                <p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

  
  <!-- footer -->
  <div class="container-fluid" id="servheadf">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="d-flex footer_text" >
            <p class="mt-3">Copyright © 2024 <span style="color: #FD5B17;">Quantum Cargo</span></p>
        </div>

        <ul class="list-unstyled d-flex justify-content-end align-items-center footer_icon" >
            <li class="ms-3"><a href="#"><img src="../../assets/images/twitter.png" width="24"></a>
            </li>
            <li class="ms-3"><a href="#"><img src="../../assets/images/instagram.png" width="24"></a>
            </li>
            <li class="ms-3"><a  href="#"><img src="../../assets/images/facebook.png" width="24"></a>
            </li>
        </ul>
    </footer>
</div>



</body>
</html>