<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>News</title>
    </head>

    <body>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        -->





        <!-- News-home -->
        <div id="servhead">
            <h1>News</h1>
        </div>



        <!-- News Section -->
        <div class="div1">
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/SfiD81EdbMs" title="Why is Indian Logistics failing against China? : Logistics case study" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Why is Indian Logistics failing against China? : Logistics case study</h5>
                    <p class="card-text">Since the past 5 years, India has been trying very hard to compete with the Chinese economy! And whenever we speak about competing with China.</p>
                    <p><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/4Yz2fOsrVqs" title="Allcargo Logistics Soars 10%, Allcargo Gati Slips 7% on Board Approval For Business Restructuring" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Allcargo Logistics Soars 10%, Allcargo Gati Slips 7% on Board Approval For Business Restructuring</h5>
                    <p class="card-text">Allcargo Logistics share price jumped nearly 10% after Allcargo Logistics Ltd and Allcargo Gati boards approved business restructuring on Thursday.</p>
                    <p><small>Last updated 10 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/M9bhCVqGaOI" title="How NATIONAL LOGISTICS POLICY will be a GAME CHANGER for Indian Economy? : Business case study" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                </div>
                <div class="card-body">
                    <h5 class="card-title">How NATIONAL LOGISTICS POLICY will be a GAME CHANGER for Indian Economy? : Business case study</h5>
                    <p class="card-text">On 17th September, 2022, the prime minister of India made grand announcement of the national logistics policy and the unified logistics interface.</p>
                    <p><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/1KtTAb9Tl6E" title="Why Global Supply Chains May Never Be the Same | WSJ Documentary" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                </div>
                <div class="card-body">
                    <h5 class="card-title">Why Global Supply Chains May Never Be the Same | WSJ Documentary</h5>
                    <p class="card-text">Every day, millions of sailors, truck drivers, longshoremen, warehouse workers and delivery drivers keep mountains of goods moving into stores</p>
                    <p><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/C8Bm-lUWLc4" title="How National Logistics Policy will change Future of India? National Logistics Policy | UPSC GS3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                
                </div>
                <div class="card-body">
                    <h5 class="card-title">How National Logistics Policy will change Future of India? National Logistics Policy | UPSC GS3</h5>
                    <p class="card-text">UPSC Civil Services Examination is the most prestigious exam in the country. It is important to lay a comprehensive and strong General Studies foundation for the exam.</p>
                    <p><small>Last updated 5 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/6EDCnhbUpgE" title="Logistics of the Future | Free Documentary" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                </div>
                <div class="card-body">
                    <h5 class="card-title">Logistics of the Future | Free Documentary</h5>
                    <p class="card-text">Modern logistics! It would be hard to imagine our daily digital lives without them. As consumers, we can shop online every day and any hour of the day.</p>
                    <p><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/1Y1YrWdTFjg" title="Understanding The Opportunities And Challenges For India&#39;s Logistics Sector | Mad About Markets" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                </div>
                <div class="card-body">
                    <h5 class="card-title">Understanding The Opportunities And Challenges For India's Logistics Sector | Mad About Markets</h5>
                    <p class="card-text">Logistics in India is highly fragmented, and to date. CNBC-TV18 discussed the scope for the fast-evolving sector.</p>
                    <p><small>Last updated 7 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/HxXJ8Q2GCs4" title="How Amazon Beat Supply Chain Chaos With Ships, Containers And Planes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">How Amazon Beat Supply Chain Chaos With Ships, Containers And Planes</h5>
                    <p class="card-text">As supply chain chaos causes shipping delays this holiday season, experts say Amazon’s logistics empire and predictive analytics will allow it to avoid the worst of it.</p>
                    <p><small>Last updated 8 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/CP1LyV6n5TA" title="Why The Trucking Industry Is So Fragmented And Chaotic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>               
                </div>
                <div class="card-body">
                    <h5 class="card-title">Why The Trucking Industry Is So Fragmented And Chaotic</h5>
                    <p class="card-text">Trucking is an especially fragmented industry, which makes it susceptible to continuous boom and bust cycles. </p>
                    <p><small>Last updated 9 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/wJUva4OanMc" title="The Power of Logistics | Terry Esper | TEDxOhioStateUniversitySalon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                
                </div>
                <div class="card-body">
                    <h5 class="card-title">The Power of Logistics | Terry Esper | TEDx Ohio State University Salon</h5>
                    <p class="card-text">For people in certain careers, it can be difficult to see the lasting effect or significance of their work.</p>
                    <p><small>Last updated 6 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/u3gEGtqXXqg" title="The Logistics Hub Where Almost $1 Billion of Products Pass Through Daily | WSJ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                </div>
                <div class="card-body">
                    <h5 class="card-title">The Logistics Hub Where Almost $1 Billion of Products Pass Through Daily | WSJ</h5>
                    <p class="card-text">Laredo, Texas, is primed to become one of the world’s most important supply chain hubs</p>
                    <p><small>Last updated 6 mins ago</small></p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <div>
                    <iframe class="card-img-top" width="300" height="200" src="https://www.youtube.com/embed/BNpk_OGEGlA" title="The Incredible Logistics of Grocery Stores" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">The Incredible Logistics of Grocery Stores</h5>
                    <p class="card-text">Sign up for a CuriosityStream subscription and also get a free Nebula subscription (the streaming platform built by creators)</p>
                    <p><small>Last updated 11 mins ago</small></p>
                </div>
            </div>
        </div>


        <!-- footer -->
        <div class="container-fluid" id="servheadf">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
                <div class="d-flex footer_text" >
                    <p class="mt-3">Copyright © 2024 <span style="color: #FD5B17;">Quantum Cargo</span></p>
                </div>
        
                <ul class="list-unstyled d-flex justify-content-end align-items-center footer_icon" >
                    <li class="ms-3"><a href="#"><img src="../../assets/images/twitter.png" width="24"></a>
                    </li>
                    <li class="ms-3"><a href="#"><img src="../../assets/images/instagram.png" width="24"></a>
                    </li>
                    <li class="ms-3"><a  href="#"><img src="../../assets/images/facebook.png" width="24"></a>
                    </li>
                </ul>
            </footer>
        </div>
        
    </body>
</html>

