<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Service</title>
</head>
<body>
    <!-- service-home -->
    <div id="servhead">
        <h1>Services</h1>
    </div>

    <!-- Warehouse-Service -->
    <div class="card">
        <div class="card-header">
            Warehouse
        </div>
        <div class="card-body">
          <div class="card-img">
            <img src="../../assets/images/Service_Warehouse.jpg" height="317rem">
          </div>
          <div>
            <h5 class="card-title">Maximizing Space, Minimizing Time.</h5>
          <p class="card-text">
            A warehouse is a critical component of logistics system management, serving as a central hub for storing, 
            organizing, and distributing goods. Efficient warehouse operations are essential for optimizing supply chain 
            processes. Technologies like RFID, automation and WMS are employed to streamline 
            inventory tracking, reduce errors, and enhance overall efficiency. Effective warehouse design ensures optimal 
            space utilization and quick access to products. Real-time data analytics enable informed decision-making, improving inventory 
            forecasting and order fulfillment. Successful warehouse management is pivotal for timely and accurate order 
            processing, meeting customer demands, and maintaining a competitive edge in the logistics industry.</p>
            <div class="btn"><a routerLink="/login" class="btn" style="background-color: #fd5b17; color: white; margin: 1em;">Proceed</a></div>
          </div>
        </div>
      </div>

      <!-- Transport-Service -->
    <div class="card">
        <div class="card-header">
            Transport
        </div>
        <div class="card-body">
            <div class="card-img">
                <img src="../../assets/images/Transport.jpg" height="339rem" width="468rem">
            </div>
          <div id="card-txt">
            <h5 class="card-title">On Time, Every Time - Your Logistics Partner.</h5>
          <p class="card-text">
            Efficient transport is crucial for effective logistics system management, ensuring timely and cost-effective 
            movement of goods. Various modes such as road, rail, air, and sea are integrated to optimize supply chain operations. 
            Advanced technologies like GPS tracking, RFID, and telematics enhance real-time visibility, allowing precise monitoring of 
            shipments. Automation and data analytics streamline route planning, reduce delays, and enhance overall operational efficiency. 
            Sustainable practices, such as electric vehicles and eco-friendly packaging, are increasingly incorporated to meet environmental 
            goals. A well-managed transport system ensures seamless connectivity, minimizing disruptions and enabling businesses to meet customer 
            demands promptly while optimizing resources.</p>
            <div class="btn"><a routerLink="/login" class="btn" style="background-color: #fd5b17; color: white; margin: 1em;">Proceed</a></div>
          </div>
          
        </div>
      </div>

      <!-- Packaging & removal Service -->
    <div class="card">
        <div class="card-header">
            Packaging & Removal
        </div>
        <div class="card-body">
          <div class="card-img">
            <img src="../../assets/images/Packaging.jpg" height="339rem" width="470rem">
          </div>
          <div>
            <h5 class="card-title">Pack with Precision, Move with Care.</h5>
          <p class="card-text">
            Effective packaging and removal are integral to efficient logistic system management. Packaging involves selecting appropriate materials 
            to protect goods during transit, minimizing damage & ensuring product integrity. It also includes proper labeling for easy identification. 
            Removal other hand, entails systematic loading & unloading processes, optimizing space utilization in transport vehicles. Efficient 
            logistics demand streamlined packaging methods that balance protection and cost-effectiveness. Removal processes must be well-coordinated to 
            prevent delays & ensure timely deliveries.A well-executed 
            packaging & removal strategy contributes significantly to seamless and reliable logistics system, reducing the risk of damage, optimizing 
            resources, & improving supply chain performance.</p>
            <div class="btn"><a routerLink="/login" class="btn" style="background-color: #fd5b17; color: white; margin: 1em;">Proceed</a></div>
          </div>
        </div>
      </div>

      <!-- Container terminal Service -->
    <div class="card">
        <div class="card-header">
            Container Terminal
        </div>
        <div class="card-body">
            <div class="card-img">
                <img src="../../assets/images/Container.jpg" height="318rem" width="470rem">
            </div>
          <div>
            <h5 class="card-title">Containers Unleashed, Logistics Perfected.</h5>
          <p class="card-text">
            A Container Terminal plays a pivotal role in logistic system management by facilitating the efficient handling and storage of cargo containers. 
            These terminals serve as key hubs for transferring goods between different modes of transportation, such as ships, trucks, and trains. Equipped 
            with advanced technologies like automated cranes and tracking systems, container terminals enhance operational efficiency, minimize turnaround 
            times, and optimize space utilization. Real-time data analytics and communication systems further streamline logistics, ensuring timely and accurate 
            cargo movement. Container terminals are crucial components in global supply chains, fostering seamless connectivity and contributing to the overall 
            effectiveness of logistics systems worldwide</p>
            <div class="btn"><a routerLink="/login" class="btn" style="background-color: #fd5b17; color: white; margin: 1em;">Proceed</a></div>
          </div>
        </div>
      </div>

      <!-- Weighting station Service -->
    <div class="card">
        <div class="card-header">
            Weighting Station
        </div>
        <div class="card-body">
          <div class="card-img">
            <img src="../../assets/images/Weighting.jpg" height="315rem">
          </div>
          <div>
            <h5 class="card-title">Balancing Loads, Enhancing Logistics</h5>
          <p class="card-text">
            A weighing station in logistic system management is a crucial facility for ensuring accurate measurement of freight vehicles' weight. These stations 
            employ specialized equipment, such as weighbridges, to determine the load carried by trucks. This data is vital for compliance with legal weight limits, 
            preventing overloading and ensuring road safety. Efficient weighing stations enhance logistics by minimizing wear and tear on roads, preventing accidents, 
            and facilitating fair toll assessments. Additionally, they contribute to streamlined supply chain operations, as accurate weight information aids in optimizing 
            cargo distribution and ensuring regulatory compliance, ultimately fostering a more effective and safe transportation network.</p>
            <div class="btn"><a routerLink="/login" class="btn" style="background-color: #fd5b17; color: white; margin: 1em;">Proceed</a></div>
          </div>
        </div>
      </div>
<!-- footer -->
<div class="container-fluid" id="servheadf">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <div class="d-flex footer_text" >
          <p class="mt-3">Copyright © 2024 <span style="color: #FD5B17;">Quantum Cargo</span></p>
      </div>

      <ul class="list-unstyled d-flex justify-content-end align-items-center footer_icon" >
          <li class="ms-3"><a href="#"><img src="../../assets/images/twitter.png" width="24"></a>
          </li>
          <li class="ms-3"><a href="#"><img src="../../assets/images/instagram.png" width="24"></a>
          </li>
          <li class="ms-3"><a  href="#"><img src="../../assets/images/facebook.png" width="24"></a>
          </li>
      </ul>
  </footer>
</div>
</body>
</html>