<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="src/scripts/User.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User Session</title>
    
</head>

<body>

  <!-- navbar -->
    <div class="nav_bar">
        <ul class="nav-links">
            <li class="center"><a onclick="opentab('div1')">Shipment</a></li>
            <li class="center"><a onclick="opentab('div2')">Payment</a></li>
            <li class="center"><a onclick="opentab('div3')">Invoice</a></li>
            <li class="center"><a href="index.html">Log Out</a></li>
          </ul>
      </div>
    <div class="main">

      <!-- shipment -->
        <div class="func-1 tab-content active-tab" id="div1">
          <div class="container">
            
            <div class="title-div">
              <span>Transport Order Form</span>
            </div>

            <section class="ship">
              <form id="orderForm">
                <div class="name">
                  <div class="org-name">
                    <label for="orgName">Name of Organization</label><br>
                    <span>Enter the name of organization</span>
                  </div>
                <input type="text" id="orgName" required>
              </div>
  
                <div class="email">
                  <div class="text">
                    <label for="email">Email</label><br>
                    <span>Enter Your email address</span>
                  </div>
                  <div class="input">
                    <input type="email" id="email" placeholder="example@gmail.com" required>
                  </div>
                </div>
          
                <div class="contact">
                  <div class="text">
                    <label for="contactNo">Contact No</label><br>
                    <span>Enter Your contact number</span>
                  </div>
                  <div class="input">
                    <input type="tel" id="contactNo" placeholder="+91 XXXXX XXXXX" required>
                  </div>
                </div>
          
                <div class="type">
                  <div class="text">
                    <label for="category">Type of Category</label><br>
                    <span>Select the category of product</span>
                  </div>
                  <div class="input">
                    <select id="category" class="form-select" required>
                      <option value="food">Food</option>
                      <option value="metal">Metal</option>
                      <option value="heavyMachinery">Heavy Machinery</option>
                      <option value="lightVehicles">Light Vehicles</option>
                      <option value="clothing">Clothing</option>
                    </select>
                  </div>
                </div>
          
                <div class="trans">
                  <div class="text">
                    <label for="transport">Type of Transport</label><br>
                    <span>Select the type of transport</span>
                  </div>
                  <div class="input">
                    <select id="transport" required>
                      <option value="byAir">By Air</option>
                      <option value="byWater">By Water</option>
                      <option value="byRoad">By Road</option>
                    </select>
                  </div>
                </div>
          
                <div class="weight">
                  <div class="text">
                    <label for="weight">Weight in tons</label><br>
                    <span>Enter Your product weight</span>
                  </div>
                  <div class="input">
                    <input type="number" id="weight" required>
                  </div>
                </div>
          
                <div class="date-tr">
                  <div class="text">
                    <label for="dateTransport">Date of Transport</label><br>
                    <span>Enter the date of transport</span>
                  </div>
                  <div class="input">
                    <input type="date" id="dateTransport" required>
                  </div>
                </div>
          
                <div class="date-re">
                  <div class="text">
                    <label for="dateReceive">Date of Receive</label><br>
                    <span>Enter the date of receive</span>
                  </div>
                  <div class="input">
                    <input type="date" id="dateReceive" required>
                  </div>
                </div>
          
                <div class="dist">
                  <div class="text">
                    <label for="distance">Distance in km</label><br>
                    <span>Enter the distance of Destination</span>
                  </div>
                  <div class="input">
                    <input type="number" id="distance" required>
                  </div>
                </div>
          
                <div class="button">
                  <div class="submit">
                    <button type="button" (click)="calculatePrice()">Submit</button>
                  </div>
                  <div class="reset">
                    <button type="reset">Reset</button>
                  </div>
                </div>

                <div class="proceed">
                  <button type="button" onclick="opentab('div2')">Proceed</button>
                </div>
              </form>
            </section>
        
            <div id="orderCards" class="order-card">
            </div>

          </div>


          <!-- footer -->
    <div class="foot">
      <div class="container-fluid" id="servhead">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <div class="d-flex footer_text" >
                <p class="mt-3">Copyright © 2024 <span style="color: #FD5B17;">Quantum Cargo</span></p>
            </div>
    
            <ul class="list-unstyled d-flex justify-content-end align-items-center footer_icon" >
                <li class="ms-3"><a><img src="../../assets/images/twitter.png" width="24"></a>
                </li>
                <li class="ms-3"><a><img src="../../assets/images/instagram.png" width="24"></a>
                </li>
                <li class="ms-3"><a><img src="../../assets/images/facebook.png" width="24"></a>
                </li>
            </ul>
        </footer>
    </div>
    </div>
        </div>
        

        <!-- payment -->
        <div class="func-1 tab-content" id="div2">
          
          <div id="page" class="site">
            <div class="container">
              <div class="outer">
                <header>
                  
                    <div class="logo">
                      <a href="#" style="text-decoration: none; color: rgb(145, 145, 145);"><strong>.web</strong>Pay</a>
                    </div>
                    <div class="brand-div">
                      <p id="brand">Quantum <span>Cargo</span></p>
                      <span>Right Choice!</span>
                    </div>
                  
                </header>
                <section class="payment">
                  <div class="left">
                    <form action="" method="post">
                      <div class="card-number">
                        <p>Card Number</p>
                        <span>Enter the 16-digit card number on the card</span>
                        <div class="card-number-box">
                          <input type="text" id="credit-card" autocomplete="off" placeholder="XXXX - XXXX - XXXX - XXXX">
                          <span class="cc-logo"></span>
                        </div>
                      </div>
        
                      <div class="card-holder">
                        <div class="text">
                          <p>Card Holder Name</p>
                          <span>Enter name of card holder</span>
                        </div>
                        <div class="input">
                          <input type="text" id="card-name" autocomplete="off" required>
                        </div>
                      </div>
        
                      <div class="card-cvv">
                        <div class="text">
                          <p>CVV Number</p>
                          <span>Enter 3 or 4 digit number on card</span>
                        </div>
                        <div class="input">
                          <input type="number" data-maxlength="4" required
                            oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                        </div>
                      </div>
        
                      <div class="card-expiration">
                        <div class="text">
                          <p>Expiry Date</p>
                          <span>Enter the expiration date of the card</span>
                        </div>
                        <div class="input">
                          <input type="number" id="exp-month" placeholder="MM" data-maxlength="2" required
                            oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                          <strong>/</strong>
                          <input type="number" id="exp-year" placeholder="YY" data-maxlength="2" required
                            oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                        </div>
                      </div>
                      <button onclick="opentab('div3')">Pay Now</button>
                    </form>
                  </div>
                  <div class="right">
                    <div class="card-virtual">
                      <p class="cc-logo"></p>
                      <p class="name-holder"> Aniket Gawai</p>
                      <p class="chip">
                        <img src="chip.png" alt="">
                      </p>
                      <p class="highlight">
                        <span class="last-digit" id="card-number">.... .... .... 4356</span>
                        <span class="expiry">
                          <span class="exp-month">11</span> /
                          <span class="exp-year">26</span>
                        </span>
                      </p>
                    </div>
                    <div class="receipt">
                      <ul>
                        <li>
                          <span>Order Number</span>
                          <span id="ord"></span>
                        </li>
                        <li>
                          <span>Total Product</span>
                          <span id="total-product"></span>
                        </li>
                        <li>
                          <span>GST (18%)</span>
                          <span>Rs 500</span>
                        </li>
                      </ul>
                      <div class="total">
                        <p class="price"><strong>5000</strong> INR</p>
                        <p>Total you have to pay</p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <!-- footer -->
    <div class="foot">
      <div class="container-fluid" id="servhead">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <div class="d-flex footer_text" >
                <p class="mt-3">Copyright © 2024 <span style="color: #FD5B17;">Quantum Cargo</span></p>
            </div>
    
            <ul class="list-unstyled d-flex justify-content-end align-items-center footer_icon" >
                <li class="ms-3"><a><img src="../../assets/images/twitter.png" width="24"></a>
                </li>
                <li class="ms-3"><a><img src="../../assets/images/instagram.png" width="24"></a>
                </li>
                <li class="ms-3"><a><img src="../../assets/images/facebook.png" width="24"></a>
                </li>
            </ul>
        </footer>
    </div>
    </div>
        </div>
        

        <!-- invoice -->
        <div class="func-1 tab-content" id="div3">
          <div class="invoice">
          <div id="orderDetailsContainer"></div>
          <div id="orderTableContainer"></div>
          </div>


          <!-- footer -->
    <div class="foot">
      <div class="container-fluid" id="servhead">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <div class="d-flex footer_text" >
                <p class="mt-3">Copyright © 2024 <span style="color: #FD5B17;">Quantum Cargo</span></p>
            </div>
    
            <ul class="list-unstyled d-flex justify-content-end align-items-center footer_icon" >
                <li class="ms-3"><a><img src="../../assets/images/twitter.png" width="24"></a>
                </li>
                <li class="ms-3"><a><img src="../../assets/images/instagram.png" width="24"></a>
                </li>
                <li class="ms-3"><a><img src="../../assets/images/facebook.png" width="24"></a>
                </li>
            </ul>
        </footer>
    </div>
    </div>
          
      </div>
    </div>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
