* {
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
}

#offices {
    max-width: 100%;
    height: 71%;
    display: flex;
}



/* Office Left */
#office-left {
    width: 20%;
    background-color: rgb(8, 28, 61);
    height: 100vh;
}

#close-btn {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    margin-left: 10px;
    width: 25px;
    z-index: 1;
    cursor: pointer;
}

#left-title {
    text-align: start;
    color: white;
    margin-top: 15px;
    font-size: 35px;
    margin-left: 10px;
    color: #fd5b17;
}

#left-title:hover {
    color: #df4503;
}

#cities-name {
    text-align: start;
    color: white;
    margin-top: 20px;
}

.tab-links {
    font-size: 30px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.tab-links:hover {
    transform: translateY(-1px);
    transition: 0.5s;
    color: rgb(185, 170, 170);
}




/* Office Right */
#office-right {
    width: 80%;
    background-color: white;
}


#open-btn {
    margin-top: 10px;
    margin-right: auto;
    width: 25px;
    margin-left: 10px;
    visibility: hidden;
    cursor: pointer;
}

.cards {
    width: 100%;
    height: 35rem;
}

.card-main {
    display: flex;
    justify-content: space-evenly;
    height: 29rem;
}

.card-main-content {
    width: 40%;
    height: 40rem;
    margin-top: -15px;
    border: 1px solid black;
    display: block;
    transition: .2s;
}

.card-main-content:hover{
    transform: translateY(-2px);
}

.card-img {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
}

.card-details {
    margin: 1rem;
}

.card-details h3 {
    font-size: 17px;
    color: #fd5b17;
}

.card-details h3 span {
    color: black;
    font-size: 15px;
    font-weight: normal;
}

.office-btn {
    display: block;
    padding: 5px 9px;
    background-color: #ff4700;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}

.office-btn:hover{
    transform: translateY(-1px);
    box-shadow: 1px 1px 1px black;
    color: wheat
}

.reduce-margin {
    margin-bottom: 15px;
}

.tab-links {
    cursor: pointer;
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}


/* Responsive  */

/* for mobile S */
@media screen and (max-width: 320px) {
    .card-main {
        display: block;
    }

    .card-main-content {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
        height: auto;
    }

    #office-left {
        width: 20%;
        background-color: rgb(8, 28, 61);
        height: 270vh;
    }

    #left-title {
        font-size: 20px;
    }

    .card-details h3 {
        font-size: 15px;
        color: #fd5b17;
    }

    .card-details h3 span {
        color: black;
        font-size: 13px;
        font-weight: normal;
    }

    .tab-links {
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
    }
}

/* /for mobile M */
@media screen and (max-width: 375px){
    .card-main {
        display: block;
    }

    .card-main-content {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
        height: auto;
    }

    #office-left {
        width: 20%;
        background-color: rgb(8, 28, 61);
        height: 270vh;
    }

    #left-title {
        font-size: 23px;
    }

    .card-details h3 {
        font-size: 15px;
        color: #fd5b17;
    }

    .card-details h3 span {
        color: black;
        font-size: 13px;
        font-weight: normal;
    }

    .tab-links {
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
    }
}   

/* for mobile L  */
@media screen and (max-width: 425px) and (min-width: 375px){
    .card-main {
        display: block;
    }

    .card-main-content {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
        height: auto;
    }

    #office-left {
        width: 20%;
        background-color: rgb(8, 28, 61);
        height: 270vh;
    }

    #left-title {
        font-size: 23px;
    }

    .card-details h3 {
        font-size: 15px;
        color: #fd5b17;
    }

    .card-details h3 span {
        color: black;
        font-size: 13px;
        font-weight: normal;
    }

    .tab-links {
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
    }
} 


/* for tablet */
@media screen and (max-width: 768px) and (min-width: 425px){
    .card-main {
        display: block;
    }

    .card-main-content {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
        height: auto;
    }

    #office-left {
        width: 20%;
        background-color: rgb(8, 28, 61);
        height: 223vh;
    }

    #left-title {
        font-size: 28px;
    }

    .card-details h3 {
        font-size: 15px;
        color: #fd5b17;
    }

    .card-details h3 span {
        color: black;
        font-size: 13px;
        font-weight: normal;
    }

    .tab-links {
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
    }
} 

/* for Laptop L */
@media screen and (max-width: 1440px) and (min-width: 768px){

    #office-left {
        width: 20%;
        background-color: rgb(8, 28, 61);
        height: 235vh;
    }
 
} 





/* footer */
#servhead{
    height: 20vh;
    background: linear-gradient(
        rgba(8, 28, 61, 0.9),
        rgba(8, 28, 61, 0.9)
      ),
      url("../../assets/images/heading.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-top: 0em;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  footer{
    width: 100%;
    padding: 2em;
  }

  .footer_text{
    width: 80%;

  }
  .footer_icon{
    width: 19%;
    text-align: right;

  }

  @media screen and (max-width: 600px) {
    #servhead{
      height: 19vh;
      
    }
    .footer_text p{
      font-size: 10px;
    }

    .footer_icon img{
      width: 1em;
    }
   
  }
  @media screen and (max-width: 900px) and (min-width: 600px) {
    #servhead{
      height: 17vh;
      
    } 
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  #servhead{
    height: 16vh;
    
  }

}